/配置/patcher/登录设置.txt
/任务脚本/各种剧本/记录
/任务脚本/声音文件路径.txt
/验证图片
/Config.ini
/~$wlwz0821.xlsx
/*.TTF
/配置/修罗怒 - 独孤静丽/任务记录.ini
/打架
/挂级
/升级
/配置/任务/角色配置/少阳一缺/界面位置.txt
/配置/任务/角色配置/修欲斜图/界面位置.txt
/配置/任务/角色配置/屠刚刚/界面位置.txt
*/任务记录.ini
/配置/任务/角色配置/少阳一缺/日常杂项设置.txt
/配置/任务/角色配置/屠刚刚/各种剧本设置.txt
/配置/任务/角色配置/独孤静丽/各种剧本设置.txt
/配置/任务/角色配置/独孤静丽/捡物包含.txt
/配置/修罗怒 - GoSmile/任务记录.ini
/配置/修罗怒 - 上官空明/任务记录.ini
/配置/修罗怒 - 修欲斜图/任务记录.ini
/配置/修罗怒 - 卫清黎/任务记录.ini
/配置/修罗怒 - 墨染秋水痕/任务记录.ini
/配置/修罗怒 - 多罗悟北/任务记录.ini
/配置/修罗怒 - 多罗悟清/任务记录.ini
/配置/修罗怒 - 夯思丽/任务记录.ini
/配置/修罗怒 - 少阳一缺/任务记录.ini
/配置/修罗怒 - 尼古拉斯冰炎/任务记录.ini
/配置/修罗怒 - 屠刚刚/任务记录.ini
/配置/修罗怒 - 方中永秀/任务记录.ini
/配置/修罗怒 - 独孤图昂/任务记录.ini
/配置/修罗怒 - 独清常/任务记录.ini
/配置/修罗怒 - 独清月/任务记录.ini
/配置/修罗怒 - 独清风/任务记录.ini
/配置/修罗怒 - 长空飞花/任务记录.ini
/配置/任务/角色配置/陀螺的蛋/界面位置.txt
/配置/任务/角色配置/长空飞花/界面位置.txt
/配置/任务/角色配置/墨染秋水痕/界面位置.txt
/配置/任务/角色配置/多罗悟清/界面位置.txt
/配置/patcher/1503.jpg
/配置/任务/角色配置/独孤静丽/界面位置.txt
/配置/任务/角色配置/尼古拉斯冰炎/界面位置.txt
/配置/修罗怒 - 一抹拉土/任务记录.ini
/配置/修罗怒 - 修欲正途/任务记录.ini
/配置/修罗怒 - 少阳两缺/任务记录.ini
/配置/修罗怒 - 屠夫的泪泪/任务记录.ini
/配置/修罗怒 - 强七昂/任务记录.ini
/配置/修罗怒 - 斜图的蛋/任务记录.ini
/配置/修罗怒 - 短空飞花/任务记录.ini
/配置/傺袅饺 - /任务记录.ini
/配置/修罗怒 - G哥的蛋蛋/任务记录.ini
